body {
	background-color:#FFFFFF;
}

textarea {
	display:block;
}

div#list {
	resize:both;
	overflow:auto;
	width:200px;
	height: 250px;
	display:inline-block;
	background-color:#cccccc;
	vertical-align:top;
}

div#canvasContainer {
    resize:both;
    display:inline-block;
    width: 250px;
    height: 250px;
    overflow:auto;
    background-color:#cccccc;
}

h5.control {
	padding:0;
	margin:5px;
	text-align:center;
}

div#controls {
	border: 1px solid black;
	display:inline-block;
	padding:8px;
	vertical-align:top;
}

canvas#canvas1 {
	border: 1px solid black;
	display:block;
	vertical-align:center;
	background-color:#FFFFFF;
	margin: 0px auto;
}